.Login img {
  width: 100%;
  margin-bottom: 20px;
}
.Login {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .Login {
    padding-left: 80px;
  }
}
