.login img {
  width: 100%;
  margin-bottom: 20px;
}
.login,
.signin {
  max-width: 330px !important;
  padding: 15px;
  margin: 0 auto;
}

.signin {
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .login,
  .signin {
    padding-left: 80px;
  }
}
