[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pylint = "*"
"autopep8" = "*"

[packages]
textblob = "*"
djangorestframework = "*"
django = "*"
markdown = "*"
django-filter = "*"
gunicorn = "*"
whitenoise = "*"
"psycopg2-binary" = "*"
django-cors-headers = "*"

[requires]
python_version = "3.6"
