#sidebar {
  border-top: 6px solid var(--primary-500);
  width: inherit;
  min-width: 80px;
  max-width: 80px;
  background-color: var(--grey-100);
  border-right: 2px solid var(--grey-200);
  float: left;
  height: 100%;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
}

#sidebar button {
  display: inline-block;
  width: 52px;
  height: 52px;
  font-weight: 900;
  margin-top: 20px;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width: calc(100% + 80px);
  }

  .row-offcanvas-left {
    left: -80px;
  }

  .row-offcanvas-left.active {
    left: 0;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }
}

.horizontal-rule {
  width: 60px;
  margin: 20px auto 0px auto;
  border-bottom: 2px solid var(--grey-200);
}

#user-dropdown-menu {
  position: fixed;
}

#user-dropdown {
  background-color: var(--primary-500);
}

#add-workspace-btn{
  background-color: var(--grey-200);
}